body{
  margin: 0;
}
.View {
  background: url('./backgroundLogin.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
}

.View-logo {
  height: 43vmin;
  pointer-events: none;
  animation: 2s fall 1;
}

.forms{
  margin: 4vh;
  min-height: 47vh;
  width: 95%;
  display: flexbox;
}

.singin{
  display: flex;
  float: left;
  margin-left: 18%;
  width: 30%;
  min-height: 45vh;
  background-color: #00000050;
  border-radius: 1vh;
  animation: 2s tRight 1;
  transition-duration: 0.5s;
}

.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  background-color: blueviolet;
  width: 100%;
  height: 100%;
}

.form-singin{
  display: flex;
  width: 0%;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  overflow: hidden;
}

.sing-icon{
  width: 10%;
}

.singin:hover{
  width:65%;
  margin-left: 1%;
}

.singin:hover > .icon{
  width:30%;
}

.singin:hover > .form-singin{
  width:60%;
}

.singup{
  display: flex;
  float: right;
  margin-right: 18%;
  width: 30%;
  min-height: 45vh;
  background-color: #00000050;
  border-radius: 1vh;
  animation: 2s tLeft 1;
  transition-duration: 0.5s;
}

.form-singup{
  display: flex;
  width: 0%;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  overflow: hidden;
}

.singup:hover{
  width:65%;
  margin-right: 1%;
}

.singup:hover > .icon{
  width:30%;
}

.singup:hover > .form-singup{
  width:60%;
}

@keyframes fall{
  0%{
    transform: translateY(-50vh);
  }
  70%{
    transform: translateY(0vh);
  }
}

@keyframes tRight{
  0%{
    transform: translateX(-120vh)
  }
  70%{
    transform: translateX(0vh);
  }
}

@keyframes tLeft{
  0%{
    transform: translateX(120vh)
  }
  70%{
    transform: translateX(0vh);
  }
}